
body {
  background-color: #FFFFFF;
}

header {
  background-color: #B9E3C6;
  border-radius: 10px;
  padding: 50px;
}

.allNews {
	display: flex;
  background: #FFFFFF;
	flex-wrap: wrap;
}

.latestNews {
	display: flex;
  background: #FFFFFF;
	flex-wrap: wrap;
}

.news {
  width: 300px;
	margin: 5px;
	padding: 10px;
  background-color: #FFFFFF;
	border: 1px solid lightgrey;
}

img {
	max-width: 300px;
}

h1 {
  font-family:'Julius Sans One';font-size: 45px; color: #444753;font-weight: normal; text-align: center;
}

h2 {
  font-family: 'Julius Sans One'; font-size: 30px; color: ##444753;font-weight: normal; text-align: center;
}

h3 {
  font-family:'Julius Sans One';font-size: 21px;font-weight: bold; color: #2A4B89; text-transform: uppercase;
}
p {
  font-family:'Julius Sans One';font-size: 15px; color: #A391E0;
}
